<form>


</form>
<fieldset >
    <legend>Reste Code :</legend>
<form class="myForm">
    
        <div >
           

            <input class="form-control" name="code" type="text" placeholder="code.." [(ngModel)]="code">
        </div>
        
        <div >
            

            <input class="form-control" name="newPass" type="password" placeholder="new Password" [(ngModel)]="newPass">
        </div>
        
    
    <br>
    <button type="submit" class="btn btn-primary" (click)="saveNewPass()">save</button>

    
</form>

</fieldset>
<br>

<button class="btn btn-danger" style="width: 100%;" (click)="closeDialog()">close </button>