fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    }
   legend {
    color:#DF3F3F;
    font-weight:bold
    }
    .myForm {
        flex-direction: column;
        display: flex;
    }
    .form-row{
        display: flex;
        flex-direction: row;
        -ms-flex-align: stretch;
    }