

<div class="containerr">
 <div class="middle-panel">
<div class="row">
    <div *ngFor="let qs of listQuiz">
    <div class=""col-md-3>
  <div class="card" style="width: 18rem;">
    <img src="assets\images\mjed.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{qs.qdate | date: "dd/MMM"}}</h5>
      <p class="card-text">start Quiz</p>
      <button class="btn btn-primary" (click)="onOpenDialogClick(qs.quizId)">open Dialog</button>
  
    </div>
  </div>
  </div>
  </div>
  </div>
  <button class="btn btn-success" type="button" (click)="addQuizz()">Add quizz</button>
</div>

</div>
