<div class="box11" id="questionScreen">
    <div class="title11"> quiz </div>
  
    <div class="header11">
     <!--<div class="scorebox11">score</div>
      <div class="timerbox11">time</div>-->
     </div>
      <div class="questionbox11">question</div>
      <input type="text" name="input1" placeholder="question"> <br>

      <div class="optionbox11">
    <input type="checkbox" name="check"> <input type="text" name="input1" placeholder="choice 1"> <br>
    <input type="checkbox" name="check"><input type="text" name="input2"  placeholder="choice 2" > <br>
    <input type="checkbox" name="check"><input type="text" name="input3"  placeholder="choice 3"><br>
  
      </div>
     <div class="footer11">
     <button>
  Exit
     </button>
      <button (click)="next()">
        next  </button>
     </div>
  
    </div>