.buttonBox11 a{
    background-color: #1da3dd;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 7px 15px;
  }
  
  @media screen and (max-width: 768px) {
  
  .box11{
    width: 425px;
  }
  
  .optionbox11{
    grid-template-columns: 1fr;
  }
  }