
<body >
    <nav>
        <div class="nav-left">
            <img src="assets/cssHomePage/images/wellBeingLogo.jpg" alt="Logo">
            <input type="text" placeholder="Search..">
        </div>

        <div class="nav-middle">
            <a href="#" class="active">
                <i class="fa fa-home"></i>
            </a>

            
            <a href="#">
                <i class="fa fa-play-circle"></i>
            </a>

            <a href="#">
                <i class="fa fa-users"></i>
            </a>
        </div>

        <div class="nav-right">
            <span class="profile"></span>

            <a href="#">
                <i class="fa fa-bell"></i>
            </a>
            <a>
                <i class="fab fa-facebook-messenger"></i>
                
            </a>

            <a href="#">
                <i class="fas fa-ellipsis-h"></i>
            </a>
        </div>
    </nav>


    <div class="container">
        <div class="left-panel">
            <ul>
                <li>
                    <span class="profile"></span>
                    <p>{{username}}</p>
                </li>
             <!--    <li>
                    <i class="fa fa-user-friends"></i>
                    <p>Friends</p>
                </li>
               <li>
                    <i class="fa fa-play-circle"></i>
                    <p>videos</p>
                </li>
                <li>
                    <i class="fa fa-flag"></i>
                    <p>Pages</p>
                </li>-->
                <li>
                    <i class="fa fa-users"></i>
                    <p>Groups</p>
                </li>
                <li>
                    <i class="fa fa-bookmark"></i>
                    <p>forms</p>
                </li>
                <li>
                    <i class="fab fa-facebook-messenger"></i>
                    <p>Inbox</p>
                </li>
                <li>
                    <i class="fas fa-calendar-week"></i>
                    <p>Events</p>
                </li>
                <li>
                    <i class="fa fa-bullhorn"></i>
                    <p>Ads</p>
                </li>
                <li>
                    <i class="fas fa-hands-helping"></i>
                    <p>Offers</p>
                </li>
                <li>
                    <i class="fas fa-briefcase"></i>
                    <p>quizz</p>
                </li>
                <li>
                    <i class="fa fa-star"></i>
                    <p>Favourites</p>
                </li>
                <li>
                    <i ></i>
                    <p><a (click)="logOutFunction()" >log out</a> </p>
                </li>
            </ul>


            <div class="footer-links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Advance</a>
                <a href="#">More</a>
            </div>
        </div>

        <div class="middle-panel">

          

          
        </div>
        <div class="right-panel">
           

            <div class="friends-section">
                <h4>Employess
                <div class="nav-left">
                  
                    <input type="text" placeholder="Search a employee">
                </div>
            </h4>
                
                <a class='friend' href="#">
                    <div class="dp">
                        <img src="assets/cssHomePage/images/dp.jpg" alt="">
                    </div>
                    <p class="name">Henry Mosely <strong style="color: green;"> •</strong></p>
                </a>

                <a class='friend' href="#">
                    <div class="dp">
                        <img src="assets/cssHomePage/images/shoes.jpg" alt="">
                    </div>
                    <p class="name">George</p>
                </a>

            </div>
        </div>
    </div>
</body>