<body class="img js-fullheight"  style="background-image: url(assets/cssAuthentification/css/images/wellBeing.jpg);" >
        <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center" style="color:white;">Create a new account </h3>
				  
		      	<form  class="signin-form"  #form="ngForm" >
					<div class="form-group" >
						<input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastName" #l="ngModel" placeholder="Last Name" required >
					</div>
                    <div  *ngIf="l.invalid && l.touched">
                        <div *ngIf="l.errors.required" style="color: red;">Last name is a required field !!!</div>
                        </div>
					<div class="form-group">
						<input type="text" class="form-control"name="firstname" [(ngModel)]="user.firstName" #f="ngModel"placeholder="First Name" required>
					</div>
                    <div  *ngIf="f.invalid && f.touched">
                        <div *ngIf="f.errors.required" style="color: red;">First name is a required field !!!</div>
                        </div>
					<div class="form-group">
						<input type="date" class="form-control" name="date"[(ngModel)]="user.dateOfBirth" #d="ngModel" placeholder="Date of Birth" required>
					</div>
                    <div  *ngIf="d.invalid && d.touched">
                        <div *ngIf="d.errors.required" style="color: red;">Date is a required field !!!</div>
                        </div>
					<div class="form-group">
						<input type="text" class="form-control" name="email" [(ngModel)]="user.email" #e="ngModel"  placeholder="email" required>
					</div>
                    <div  *ngIf="e.invalid && e.touched">
                        <div *ngIf="e.errors.required" style="color: red;">email is a required field !!!</div>
                        </div>
		      		<div class="form-group">
		      			<input type="text" class="form-control" name="username" [(ngModel)]="user.username" #u="ngModel" placeholder="Username" required>
		      		</div>
                      <div  *ngIf="u.invalid && u.touched">
                        <div *ngIf="u.errors.required" style="color: red;">username is a required field !!!</div>
                        </div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password" [(ngModel)]="user.password"#p="ngModel" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
                <div  *ngIf="p.invalid && p.touched">
                    <div *ngIf="p.errors.required" style="color: red;">Password is a required field !!!</div>
                    </div>
	            <div class="form-group">
	            	<button  type="submit" class="form-control btn btn-primary submit px-3" [disabled]="form.invalid" (click)="saveuser(user)" >Sign Up</button>
	            </div>
	          </form>
	          <p class="w-100 text-center" style="color: black;">&mdash; Or Sign Up With &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> linkedin</a>
	          </div>
			  <p class="w-100 text-center" style="color: black;">&mdash; Sign in Page &mdash;</p>
			  <div class="social d-flex text-center">
				<a routerLink="/signIn" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Sign in</a>
			</div>
		      </div>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/cssAuthentification/css/js/jquery.min.js"></script>
  <script src="assets/cssAuthentification/css/js/popper.js"></script>
  <script src="assets/cssAuthentification/css/js/bootstrap.min.js"></script>
  <script src="assets/cssAuthentification/css/js/main.js"></script>
</body>



